<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AllSpacesAndDisplays</key>
	<dict>
		<key>Desktop</key>
		<dict>
			<key>Content</key>
			<dict>
				<key>Choices</key>
				<array>
					<dict>
						<key>Configuration</key>
						<data>
						YnBsaXN0MDDSAQIDDF8QD2JhY2tn
						cm91bmRDb2xvcllwbGFjZW1lbnTS
						BAUGC1pjb21wb25lbnRzWmNvbG9y
						U3BhY2WkBwgJCiM/0FBQUFBQUCM/
						2lpaWlpaWiM/5VVVVVVVVSM/8AAA
						AAAAAE8QQ2JwbGlzdDAwXxAXa0NH
						Q29sb3JTcGFjZUdlbmVyaWNSR0II
						AAAAAAAAAQEAAAAAAAAAAQAAAAAA
						AAAAAAAAAAAAACIQAQgNHykuOURJ
						UltkbbMAAAAAAAABAQAAAAAAAAAN
						AAAAAAAAAAAAAAAAAAAAtQ==
						</data>
						<key>Files</key>
						<array>
							<dict>
								<key>relative</key>
								<string>file:///paper </string>
							</dict>
						</array>
						<key>Provider</key>
						<string>com.apple.wallpaper.choice.image</string>
					</dict>
				</array>
				<key>Shuffle</key>
				<string>$null</string>
			</dict>
			<key>LastSet</key>
			<date>2025-08-20T16:11:15Z</date>
			<key>LastUse</key>
			<date>2025-08-20T18:01:17Z</date>
		</dict>
		<key>Idle</key>
		<dict>
			<key>Content</key>
			<dict>
				<key>Choices</key>
				<array>
					<dict>
						<key>Configuration</key>
						<data>
						</data>
						<key>Files</key>
						<array/>
						<key>Provider</key>
						<string>default</string>
					</dict>
				</array>
				<key>Shuffle</key>
				<string>$null</string>
			</dict>
			<key>LastSet</key>
			<date>2024-11-12T15:44:40Z</date>
			<key>LastUse</key>
			<date>2025-08-20T18:01:17Z</date>
		</dict>
		<key>Type</key>
		<string>individual</string>
	</dict>
	<key>Displays</key>
	<dict/>
	<key>Spaces</key>
	<dict/>
	<key>SystemDefault</key>
	<dict>
		<key>Desktop</key>
		<dict>
			<key>Content</key>
			<dict>
				<key>Choices</key>
				<array>
					<dict>
						<key>Configuration</key>
						<data>
						YnBsaXN0MDDSAQIDDF8QD2JhY2tn
						cm91bmRDb2xvcllwbGFjZW1lbnTS
						BAUGC1pjb21wb25lbnRzWmNvbG9y
						U3BhY2WkBwgJCiM/0FBQUFBQUCM/
						2lpaWlpaWiM/5VVVVVVVVSM/8AAA
						AAAAAE8QQ2JwbGlzdDAwXxAXa0NH
						Q29sb3JTcGFjZUdlbmVyaWNSR0II
						AAAAAAAAAQEAAAAAAAAAAQAAAAAA
						AAAAAAAAAAAAACIQAQgNHykuOURJ
						UltkbbMAAAAAAAABAQAAAAAAAAAN
						AAAAAAAAAAAAAAAAAAAAtQ==
						</data>
						<key>Files</key>
						<array>
							<dict>
								<key>relative</key>
								<string>file:///paper </string>
							</dict>
						</array>
						<key>Provider</key>
						<string>com.apple.wallpaper.choice.image</string>
					</dict>
				</array>
				<key>Shuffle</key>
				<string>$null</string>
			</dict>
			<key>LastSet</key>
			<date>2025-08-20T16:11:15Z</date>
			<key>LastUse</key>
			<date>2025-08-20T16:11:15Z</date>
		</dict>
		<key>Idle</key>
		<dict>
			<key>Content</key>
			<dict>
				<key>Choices</key>
				<array>
					<dict>
						<key>Configuration</key>
						<data>
						</data>
						<key>Files</key>
						<array/>
						<key>Provider</key>
						<string>default</string>
					</dict>
				</array>
				<key>Shuffle</key>
				<string>$null</string>
			</dict>
			<key>LastSet</key>
			<date>2024-11-12T15:44:40Z</date>
			<key>LastUse</key>
			<date>2025-08-20T16:06:48Z</date>
		</dict>
		<key>Type</key>
		<string>individual</string>
	</dict>
</dict>
</plist>
